apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: "{{ HELMRELEASE_NAME }}"
  namespace: "{{ NAMESPACE }}"
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      interval: 1h
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system

  values:
    global:
      nameOverride: "{{ HELMRELEASE_NAME }}"

    image:
      repository: "ghcr.io/crazy-max/samba"
      tag: "{{ IMAGE_TAG }}"

    service:
      main:
        ports:
          http:
            enabled: false
          samba:
            enabled: true
            port: 445
            protocol: TCP
        externalTrafficPolicy: Cluster
        type: LoadBalancer
        externalIPs:
          - "{{ SVC_SAMBA_IP }}"

    hostname: "{{ HELMRELEASE_NAME }}"

    configMaps:
      config:
        enabled: true
        data:
          config.yml: |
            auth:
              - user: root
                group: root
                uid: 0
                gid: 0
                password: "{{ SAMBA_PASSWORD }}"
              - user: smb
                group: smb
                uid: 1000
                gid: 1000
                password: "{{ SAMBA_PASSWORD }}"

            global:
              - "force user = root"
              - "force group = root"

            share:
              - name: longhorn
                path: /srv/longhorn
                browsable: yes
                readonly: no
                guestok: no
                validusers: root,smb
                writelist: root,smb
                veto: no
              - name: host-volume
                path: /srv/host-volume
                browsable: yes
                readonly: no
                guestok: no
                validusers: root,smb
                writelist: root,smb
                veto: no

    persistence:
      samba-config:
        enabled: true
        type: configMap
        mountPath: /data/config.yml
        name: "{{ HELMRELEASE_NAME }}-config"
        subPath: config.yml

